/* Nulling */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
header {
  padding-top: 29px;
  padding-bottom: 30px;
}
header ul {
  display: inline-block;
}
header ul li {
  display: inline-block;
  margin-right: 50px;
  font-weight: 700;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #214E41;
}
header ul:first-child {
  margin-left: 400px;
}
header button {
  width: 137px;
  height: 40px;
  margin-left: 83.53px;
  font-weight: 700;
  border-radius: 6px;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 20px;
  background-color: #43806C;
  color: white;
}

.present-find {
  width: 100%;
  height: 720px;
  background: url("../images/PrF.png");
}
.present-find .present-find__srch_inf {
  position: absolute;
  margin-top: 161px;
  margin-left: 120px;
  width: 518px;
}
.present-find .present-find__srch_inf h1 {
  font-weight: 700;
  font-family: "Roboto";
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
}
.present-find .present-find__srch_inf p {
  display: block;
  margin-top: 40px;
  font-weight: 700;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 24px;
}
.present-find .present-find__srch_inf form {
  display: block;
  /* For input text*/
}
.present-find .present-find__srch_inf form ::-webkit-input-placeholder {
  color: #222222;
}
.present-find .present-find__srch_inf form INPUT[type=text] {
  color: #222222;
}
.present-find .present-find__srch_inf form input:first-child {
  height: 60px;
  padding: 20px 88px 20px 20px;
  border-radius: 6px 0px 0px 6px;
}
.present-find .present-find__srch_inf form input:last-child {
  position: relative;
  bottom: 2px;
  right: 5px;
  height: 60px;
  padding: 20px 35px 20px 35px;
  border-radius: 0px 6px 6px 0px;
  font-family: "Raleway";
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  background-color: #43806C;
  color: white;
}

.description-1 {
  display: table;
  position: relative;
  margin: 0 auto 0 auto;
  bottom: 100px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 4px rgba(232, 230, 230, 0.6);
          box-shadow: 4px 4px 4px rgba(232, 230, 230, 0.6);
  border-radius: 6px;
}
.description-1 ul {
  display: table;
  position: relative;
  top: 52px;
  height: 170px;
}
.description-1 ul li {
  display: inline-block;
  padding: 0 45px 0 45px;
}
.description-1 ul li:nth-child(1):before {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  content: url("../../images/icons/ic1.png");
}
.description-1 ul li:nth-child(2):before {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  content: url("../../images/icons/ic2.png");
}
.description-1 ul li:nth-child(3):before {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  content: url("../../images/icons/ic3.png");
}
.description-1 ul li text {
  display: inline-block;
  vertical-align: top;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #214E41;
}
.description-1 ul li text h5 {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 24px;
}

.explain-1 {
  display: table;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.explain-1 .explain-1__text {
  display: inline-block;
  width: 478px;
}
.explain-1 .explain-1__text h6 {
  display: block;
  font-weight: 400;
  font-family: "Raleway";
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806C;
}
.explain-1 .explain-1__text h2 {
  display: block;
  margin-top: 20px;
  font-weight: 700;
  font-family: "Roboto";
  font-size: 36px;
  line-height: 40px;
  color: #214E41;
}
.explain-1 .explain-1__text text {
  display: block;
  margin-top: 34px;
  font-weight: 400;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
}
.explain-1 .explain-1__text button {
  width: 107px;
  height: 36px;
  text-align: center;
  display: block;
  margin-top: 24px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.02px;
  background-color: white;
  color: #214E41;
}
.explain-1 .diogram {
  display: inline-block;
  margin-left: 51px;
}
.explain-1 .diogram .diogram__diog_text {
  display: inline-block;
  width: 224px;
}
.explain-1 .diogram .diogram__diog_text p {
  display: block;
  font-family: "Roboto";
  font-size: 70px;
  line-height: 90px;
  font-weight: 700;
  color: #214E41;
}
.explain-1 .diogram .diogram__diog_text .diog_text__text {
  font-family: "Raleway";
  font-size: 13px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.02px;
  color: #214E41;
}
.explain-1 .diogram .diogram__diogram {
  display: inline-block;
  position: relative;
  margin-left: 51px;
  top: 30px;
}
.explain-1 .diogram .diogram__diogram .diogram__deductible {
  display: inline-block;
  vertical-align: bottom;
}
.explain-1 .diogram .diogram__diogram .diogram__annual-max {
  display: inline-block;
  margin-left: 40px;
}
.explain-1 .diogram .diogram__summarize {
  font-family: "Raleway";
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #757575;
}
.explain-1 .diogram .diogram__money {
  text-align: center;
  font-family: "Raleway";
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #214E41;
}
.explain-1 .diogram .diogram__diog_text {
  position: relative;
  bottom: 20px;
}
.explain-1 .diogram .diogram__name {
  text-align: center;
  font-family: "Raleway";
  font-size: 13px;
  line-height: 22px;
  font-weight: 700;
  color: #214E41;
}

.explain-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.explain-2 .explain-2__section-1 {
  display: inline-block;
  padding: 120px 200px 129px 120px;
  width: 50%;
  height: 640px;
  background-color: #E3EEED;
}
.explain-2 .explain-2__section-1 .section-1__text {
  width: 345px;
  font-family: "Roboto";
  font-size: 32px;
  line-height: 42px;
  font-weight: 400;
  color: #43806C;
}
.explain-2 .explain-2__section-1 .section-1__text .text_big {
  display: inline;
  font-weight: 700;
  color: #214E41;
}
.explain-2 .explain-2__section-2 {
  display: inline-block;
  width: 50%;
  height: 640px;
  background-color: #214E41;
}
.explain-2 .explain-2__section-2 .section-2__text {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02px;
  font-weight: 400;
  color: white;
}
.explain-2 .explain-2__h {
  padding-bottom: 29px;
  font-family: "Raleway";
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: #214E41;
}